Q1. List any five functions of the pandas library with execution.

Ans--> 1.read_csv(): This function is used to read a CSV file and create a pandas DataFrame object from it.

Example:

In [5]:
import pandas as pd

# read csv file into a pandas DataFrame
df = pd.read_csv('data.csv')
df

   A   B   C
0   3  5   1
1   8  2   7
2   6  9   4
3   2  3   5
4   9  1   2

2.head(): This function is used to display the first n rows of a DataFrame.

Example:

In [6]:
# display the first 5 rows of the DataFrame
print(df.head())

   A   B   C
0   3  5   1
1   8  2   7
2   6  9   4
3   2  3   5
4   9  1   2

3.describe(): This function is used to generate descriptive statistics for a DataFrame.

Example:

In [7]:
# generate descriptive statistics for the DataFrame
print(df.describe())

            A          B         C
count  5.00000  5.000000  5.000000
mean   5.60000  4.000000  3.800000
std    3.04959  3.162278  2.387467
min    2.00000  1.000000  1.000000
25%    3.00000  2.000000  2.000000
50%    6.00000  3.000000  4.000000
75%    8.00000  5.000000  5.000000
max    9.00000  9.000000  7.000000

 4.to_csv(): This function is used to write a DataFrame to a CSV file.

Example:

In [14]:
# write the DataFrame to a CSV file
df.to_csv('output.csv')

5.merge(): This function merges two DataFrames on a specified column.

In [19]:
import pandas as pd

orders = pd.read_csv('data.csv')
customers = pd.read_csv('output.csv')

merged = pd.merge(orders, customers)
print(merged)

   A   B   C  Unnamed: 0
0   3  5   1           0
1   8  2   7           1
2   6  9   4           2
3   2  3   5           3
4   9  1   2           4

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [20]:
import pandas as pd
data = {'A':[5,6,7,4,3],'B':[8,9,66,56,34],'C':[78,67,5,32,12]}
df = pd.DataFrame(data)
index = [i for i in range(1,len(df)*2)]
index = [index[0::2]]
df = pd.DataFrame(data,index)
df

   A   B   C
1  5   8  78
3  6   9  67
5  7  66   5
7  4  56  32
9  3  34  12

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [21]:
import pandas as pd
data = {'Values':[10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
values_sum = df['Values'][:3].sum()
print(values_sum)

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [22]:
import pandas as pd
data = {'Text':["Nishant","Datascience master","Pwskill","Sudhanshu"]}
df = pd.DataFrame(data)
df['Word_count'] = df['Text'].str.split().str.len()
df

                 Text  Word_count
0             Nishant           1
1  Datascience master           2
2             Pwskill           1
3           Sudhanshu           1

Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans--> Both DataFrame.size() and DataFrame.shape() are methods of a Pandas DataFrame object that return information about the size or shape of the DataFrame, but they have different meanings and return different values.

DataFrame.size() returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and the number of columns. It returns a scalar value of type int.

On the other hand, DataFrame.shape() returns a tuple of integers that represents the number of rows and columns in the DataFrame, respectively. The first element of the tuple is the number of rows, and the second element is the number of columns. For example, if a DataFrame has 10 rows and 5 columns, DataFrame.shape() will return the tuple (10, 5).

Q6. Which function of pandas do we use to read an excel file?

Ans--> To read an Excel file in Pandas, we use the read_excel() function, which is a part of the pandas library.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [28]:
import pandas as pd
email = {'Email':["nishant.kaushal@domain.com","sudhanshu.kumar@domain.com","krish.naik@domain.com"]}
df = pd.DataFrame(email)
username = []
for i in df['Email']:
    username.append(i.split('@')[0])
df['Username'] = pd.DataFrame(username)
df

                        Email         Username
0  nishant.kaushal@domain.com  nishant.kaushal
1  sudhanshu.kumar@domain.com  sudhanshu.kumar
2       krish.naik@domain.com       krish.naik

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [1]:
import pandas as pd
data = {"A":[3,8,6,2,9],"B":[5,2,9,3,1],"C":[1,7,4,5,2]}
df = pd.DataFrame(data)
new_df = df[(df["A"]>5) & (df["B"]<10)]
new_df

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [2]:
import pandas as pd
data = {'Values':[10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
mean = df.mean()
median = df.median()
standard_deviation = df.std()
print(mean)
print(median)
print(standard_deviation)

Values    30.0
dtype: float64
Values    30.0
dtype: float64
Values    15.811388
dtype: float64

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [3]:
import pandas as pd
data = {"Sales": [500,100,300,200,400,1000,1500,700,900,600,800],
       "Date":["01-01-2023","02-01-2023","03-01-2023","04-01-2023","05-01-2023","06-01-2023","07-01-2023","08-01-2023","09-01-2023","10-01-2023"
              ,"11-01-2023"]}
df = pd.DataFrame(data)
df["Moving Average"] = df["Sales"].rolling(window=7,min_periods=1).mean()
df

    Sales        Date  Moving Average
0     500  01-01-2023      500.000000
1     100  02-01-2023      300.000000
2     300  03-01-2023      300.000000
3     200  04-01-2023      275.000000
4     400  05-01-2023      300.000000
5    1000  06-01-2023      416.666667
6    1500  07-01-2023      571.428571
7     700  08-01-2023      600.000000
8     900  09-01-2023      714.285714
9     600  10-01-2023      757.142857
10    800  11-01-2023      842.857143

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [5]:
import pandas as pd
data = {"Date":["2023-01-01","2023-01-02","2023-01-03","2023-01-04","2023-01-05"]}
df = pd.DataFrame(data)
df["Date"] = pd.to_datetime(df["Date"])
df['Weekday'] = df['Date'].dt.strftime('%A')
df

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [6]:
import pandas as pd
df = pd.DataFrame() 
df["Date"] = pd.date_range(start= "2023-01-01" , end = "2023-02-28")
new_df = df.loc[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
new_df

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

Ans--> To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is pandas itself.

You can import the pandas library using the following command:

import pandas as pd

This will import the pandas library and make it available for use in your Python code. By convention, the pandas library is usually imported with the alias pd, which makes it easier to refer to its functions and classes.